html {
    background-color: #EFF6E0;
}

h1 {
    font-family: 'Rock Salt', cursive;
    color: #01161E;
    text-align: center;
    font-size: 50px;
}

h2 a {
    padding-left: 5px;
}

h2 a:hover {
    cursor: pointer;
}

h3 a {
    padding-left: 5px;
}

.place {
    padding-top: 1em;
    text-align: center;
    font-size: 38px;

}

nav {
    text-align: center;
    font-size: 18px;
}

nav a {
    border: solid 1px black;
    padding: .2em;
    border-radius: 5px;
    text-decoration-line: none;
    color: #c2c7c2;
    background-color: #061920;

}

nav a:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #42423f;
    cursor: pointer;
}

main,
a {
    font-family: 'Architects Daughter', cursive;
    color: #124559;
    border-radius: 5px;
}

section {
    /* border: solid 1px red; */
    padding-left: 2em;
    padding-right: 2em;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

article {
    /* border: solid 1px red; */
    padding-left: 2em;
    padding-right: 2em;
    margin: 2em;

}



article img {
    width: 50%;
    margin-left: 25%;

}

article sub {
    margin-left: 25%;
}

img {
    width: 100%;
    border-radius: 18px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


sub {
    padding-left: 25px;
}

p {
    font-family: 'Roboto Slab';
    padding: 1em;
}

footer {
    text-align: center;
}

#hello, #planes {
    width: 50%;
    text-align: center;
    margin-top: 1em;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: none;
    padding: .5em .5em;
    border: solid 1px #061920;
    border-radius: 5px;
}

.plane {
    width: 30px;
}